@import "./../../variable/variable.scss";

.devContainer {
  background-color: $BackgroudColor;
  //   height: 100vh;
  padding: 30px 100px;

  p {
    font-family: $QuattrocentoFont;
    color: #fff;
    font-size: 24px;
  }
}

.devHeader {
  @include FontStyle;
  font-size: 64px;
  font-weight: 600;
}

.devImage {
  h3 {
    @include FontStyle;
    @include DarkStyle;
    font-size: 32px;
    margin-bottom: 10px;
  }

  p {
    @include FontStyle;

    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    margin-top: 0;

    img {
      margin-right: 15px;
    }
  }
}

.devContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.stick {
  width: 100px;
  height: 2px;
  background-color: #fff;
}
