@import "./../../../variable/variable.scss";

.accordianHeader {
  @include FontStyle;
  font-size: 32px;
  font-weight: 500;
  padding: 0 100px;
}

.accordiantext {
  font-family: $QuattrocentoFont;
  font-size: 24px;
  font-weight: 700;
  padding: 0 100px;
}

@media screen and (max-width: 500px) {
  .accordianHeader {
    font-size: 24px;
    padding: 0 10px;
  }

  .accordianText {
    font-size: 18px;
    padding: 0 10px;
  }
}
