@import "./../../variable/variable.scss";

.serviceContainer {
  background-color: $BackgroudColor;
  // background-color: red;
  // height: 100vh;
  padding: 50px 100px 0px 100px;
}

.serviceHeader {
  @include FontStyle;
  font-size: 64px;
}

.serviceContent {
  @include FontStyle;
  font-size: 24px;
}

.serviceBox {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  margin-top: 50px;

  span {
    @include FontStyle;
    @include LightStyle;
    font-size: 32px;
    font-weight: 500px;
  }

  p {
    font-family: $QuattrocentoFont;
    font-size: 24px;
    font-weight: 700;
    color: #000;
  }

  .serviceImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .serviceContainer {
    padding: 50px 10px;
  }

  .serviceHeader {
    font-size: 32px;
  }

  .serviceContent {
    font-size: 18px;
  }

  .serviceBox {
    span {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }
}
