@import "./variable.scss";

.navbar {
  background: black;
  padding: 10px;
}

.logo {
  width: 60px;
  height: 60px;
}

.nav {
  text-decoration: none;
  padding: 20px;
  font-family: $textFont;
  color: #fff;
  font-size: 18px;
}

.navs {
  text-decoration: none;
  padding: 10px 20px;
  font-family: $textFont;
  color: #000;
  font-size: 18px;
  display: block;
}

.tel {
  text-decoration: none;
  border: 2px solid #fff;
  font-family: $textFont;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .nav {
    padding: 0;
  }

  .tel {
    font-size: 12px;
  }
}
