@import "./variable.scss";

.webPackageContainer {
  //   width: 400px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 8px;
  background: $cardColor;

  display: flex;
  justify-content: center;
  align-items: center;
}
