// Aleo
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@700&display=swap");
// Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
// Heebo
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap");
// Nunito
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

$textColor: #fff;
$textColor2: #75abfe;
$buttonColoer: #4d3f3f;
$headerColor: #1c1c1c;
$backgroudColor: #222222;
$cardColor: #263238;
$formColor: #ececec;
$color: #0d0909b4;
$buttonTextColor: #252525;

// Font
$textFont: "Aleo", sans-serif;
$PoppinsFont: "Poppins", sans-serif;
$HeeboFont: "Heebo", sans-serif;
$NunitoFont: "Nunito", sans-serif;
